﻿body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.voffset { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 20px; }
.voffset4 { margin-top: 40px; }
.voffset5 { margin-top: 80px; }

/* Bootstrap overrides */
@font-face {
    font-family: "Glyphicons Halflings";
    src: url("fonts/glyphicons-halflings-regular.eot");
    src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(205, 40, 39, 0.55);
}

.navbar-inverse .notifications {
    position: relative !important;
}

.navbar-inverse .notifications .badge {
    background: #a80a0a;
    position: absolute;
    right: -1px;
    top: 8px;
}

.navbar-brand {
    font-weight: 700;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control {
    border-radius: 9px;
    font-size: 17px;
    height: 44px;
}

.form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
}

.field-validation-error {
    color: red;
    font-weight: 700;
}

.btn {
    /*border-radius: 9px;
    font-size: 17px;
    padding: 7px 20px;*/
}

.gigs {
    list-style: none;
}

.gigs > li {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    position: relative;
}

.gigs > li .date {
    /*align-items: stretch;*/
    background-color: red;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60px;
}

.gigs > li .date_month {
    font-size: 14px;
    font-weight: 700;
    padding: 2px 6px;
    text-transform: uppercase;
}

.gigs > li .date_day {
    background-color: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

.gigs > li .details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: center;
    width: 160px;
}

.details-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gigs > li .details_artist {
    font-weight: 700;
}

.gigs > li .details_genre {
    font-size: 15px;
}

.gigs > li .details_actions {
    display: none;
    font-size: 15px;
}

.gigs > li:hover .details_actions {
    display: block;
}

#search-gigs {
    width: 300px;
}