﻿@model IEnumerable<GigHubTwo.Models.Gig>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My upcoming gigs</h2>

<ul class="gigs voffset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="date_month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="date_day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="details_artist">
                    @gig.Venue

                </span>
                <div class="details-group">
                    <span class="details_genre">
                        @gig.Genre.Name
                    </span>
                </div>
                <div class="details_actions">
                    <a href="@Url.Action("Edit", "Gigs", new { id = gig.Id })">Edit</a> |
                    <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">Cancel</a>
                </div>
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('.js-cancel-gig').click(function (e) {
                var link = $(e.target);

                var dialog = bootbox.dialog({
                    title: 'Confirm',
                    message: "Are you sure you want to cancel this gig?",
                    size: 'large',
                    buttons: {
                        no: {
                            label: "No",
                            className: 'btn-default',
                            callback: function(){
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function(){
                                $.ajax({
                                    url: '/api/gigs/' + link.attr('data-gig-id'),
                                    method: 'DELETE'
                                })
                                    .done(() => {
                                        link.parents('li').fadeOut(() => {
                                            this.remove();
                                        });
                                    })
                                    .fail(() => {
                                        alert('Something failed!');
                                    });
                            }
                        }
                    }
                });
            });
        });
    </script>
}