﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GigHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Add a Gig", "Create", "Gigs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
            _.each(notifications, function(notification) {
            if (notification.type == 1) { %>
            <li><span class="highlight"><%= notification.gig.artist.name %></span> has canceled the gig at <%= notification.gig.venue %> at <%= moment(notification.gig.dateTime).format("D MMM HH:mm) %></li>
            <% } else if (notification.type == 2) {
            var changes = [];
            var originalValues = [];
            var newValues = [];

            if (notification.originalVenue != notification.gig.venue) {
            changes.push('venue');
            originalValues.push(notification.originalVenue);
            newValues.push(notification.gig.venue);
            }

            if (notification.originalDateTime != notification.gig.dateTime) {
            changes.push('date/time');
            originalValues.push(moment(notification.originalOriginalDateTime).format("D MMM HH:mm"));
            newValues.push(moment(notification.gig.dateTime).format("D MMM HH:mm"));
            }
            %>
            <li><span class="highlight"><%= notification.gig.artist.name %></span> has changed the <%= changes.join(' and ') %> of the gig from <%= originalValues.join('/') %> to <%= newValues.join('/') %></li>
            <%
            }
            })
            %>
        </ul>
    </script>
    <script>
        $(document).ready(function () {
            $.getJSON('/api/notifications', function (notifications) {
                if (notifications.length == 0)
                    return;

                $('.js-notifications-count')
                    .text(notifications.length)
                    .removeClass('hide')
                    .addClass('animate__animated animate__bounceInDown');

                $('.notifications').popover({
                    html: true,
                    title: 'Notifications',
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        return compiled({ notifications: notifications });
                    },
                    placement: 'bottom',
                    template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                })
                    .on('shown.bs.popover', function () {
                        $.post('/api/notifications/MarkAsRead')
                            .done(function () {
                                $('.js-notifications-count')
                                    .text('')
                                    .addClass('hide')
                            });
                    });
            });
        });
    </script>
</body>
</html>
