﻿@model GigHubTwo.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}


<h2>@Model.Heading</h2>

@using(Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="search-gigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by artist, genre..." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<ul id="gigs" class="gigs voffset4">
    @foreach(var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="date_month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="date_day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="details_artist">
                    @Html.ActionLink(gig.Artist.Name, "Details/" + gig.Id, "Gigs")

                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }

                    @if (Model.ShowActions)
                    {
                        <button class="btn btn-link btn-sm" data-user-id="@gig.ArtistId">Follow</button>
                    }
                </span>
                <div class="details-group">
                    <span class="details_genre">
                        @gig.Genre.Name
                    </span>
                    @if (Model.ShowActions && !gig.IsCanceled)
                    {
                        <button data-gig-id="@gig.Id" class="btn @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-default") btn-sm js-toggle-attendance">Going?</button>
                    }
                </div>
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            GigsController.init('#gigs');

            
        });
    </script>
}